body{
    /* background-color: oklch(94.3% 0.029 294.588); */
    background-color: oklch(96.9% 0.016 293.756);
}
input[type="radio"] {
  accent-color: oklch(56.112% 0.25144 283.345); /* Use any color name, hex, or rgb */
}
table tr>td{
   padding: 10px;
}

table tr>th{
   padding: 10px;
   color:'white';
   border:2px solid black
}

.tab-con{
  height:80vh
}